:root { 
--green_300:#8be48b; 
--gray_50_01:#f9f9f9; 
--red_600:#f22a2a; 
--blue_A200:#4285f4; 
--green_900:#236823; 
--gray_800_01:#3c4043; 
--green_700:#398f3e; 
--black_900_3f:#0000003f; 
--blue_A700_23:#0060ff23; 
--black_900_01:#090b0d; 
--teal_500:#02957d; 
--teal_700:#027c68; 
--blue_gray_900_02:#2b2d2d; 
--blue_gray_900_01:#333438; 
--blue_gray_700:#424c5d; 
--blue_gray_900:#262b35; 
--black_900_03:#130e00; 
--black_900_02:#000c0a; 
--deep_orange_100:#fec1c1; 
--gray_600:#6a7270; 
--black_900_4c:#0000004c; 
--gray_400:#c4c4c4; 
--blue_gray_100:#d6dae2; 
--blue_gray_300:#9ea8ba; 
--amber_500:#feb909; 
--gray_800:#434041; 
--black_900_0c:#0000000c; 
--blue_50:#e0ebff; 
--gray_400_01:#acb2b0; 
--green_600_01:#34a853; 
--black_900_19:#00000019; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
--indigo_800:#253b80; 
--red_700:#d03329; 
--blue_gray_50:#eaecf0; 
--blue_A700:#0061ff; 
--blue_gray_100_01:#d6d5d5; 
--gray_900_cc:#0d1624cc; 
--amber_500_01:#fbbc04; 
--gray_600_19:#7e7e7e19; 
--light_blue_600:#179bd7; 
--red_500:#ea4335; 
--green_800:#29752b; 
--green_600:#349765; 
--blue_A700_01:#0a58ff; 
--gray_50:#f9fbff; 
--green_400:#65bc6a; 
--black_900:#000000; 
--blue_gray_800:#394250; 
--gray_700_51:#67676751; 
--gray_700_11:#55555511; 
--blue_gray_200:#bac1ce; 
--gray_500:#979797; 
--blue_gray_400:#74839d; 
--gray_900:#0d1624; 
--gray_900_01:#1b222d; 
--teal_50:#dfecea; 
--blue_gray_800_01:#394150; 
--gray_100:#f6f6f6; 
--indigo_900:#222d65; 
--gray_800_2b:#4545452b; 
}